@media  screen and (min-width: 1250px) {
    .main-navigation {
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        width: 70vw;
        z-index: 5;
        opacity: 0;
        transition: opacity 2s;
        transition-delay: 3s;
    }

    .main-navigation-visible {
        visibility: visible;
        opacity: 1;
    }

    .main-menu {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 9em;
    border-radius: 0 0 15px 0;
    background-color: rgba(75, 75, 75, 0.5);
    transition: background-color 1s;
    list-style: none;
    
}

.main-menu ul {
    list-style: none;
}

.main-menu a {
    text-decoration: none;
    color: rgb(0, 120, 255);
    font-weight: 700;
    font-size: 1.2rem;
    /* font-family: 'Niconne'; */
    margin-left: 2em;
    transition: color 1s;    
}

.link-imitation {
    pointer-events: none;
}

.main-menu a:hover {
    color: red;
}

.main-menu img {
    width: 30px;
    height: 30px;
}
}

.image-link{
    position: relative;
    display: inline;
    margin: 1em;
}