.projects-wrapper {
    position: relative;
    margin-top: -9.2em;
    height: 100vh;
    margin-left: 0;
    width: 100vw;
    overflow: hidden;
    background-color: grey;
}

.projects-wrapper h2 {
    text-align: center;
    font-size: 2em;
}


.projects-header-wrapper {
    padding-top: 5em;
    text-align: center;
    cursor: default;
    height: 50px;
}

.projects-header-wrapper h2   {
    display: inline;
    font-size: 2em;
    transition: color 1s, font-size 1s;
}

.projects-header-wrapper h2:hover,
.projects-wrapper h2:hover {
    color: darkorchid;
    font-size: 3em;
}
.projects-grid {
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    top: 10em;
    left: 0;
    height: 70vh;
    width: 60vw;
    margin: auto;
}

.project {
    justify-self: center;
}

.project img {
    height: 30vh;
    width: 20vw;
    justify-self: center;
}