@media screen and (min-width: 1250px) {
    .about-page {
        position: absolute;
        top: 18vh;
        left: 28vw;
        background-color: black;
        border-radius: 50%;
        width: 40vw;
        height: 70vh;
        color: rgb(25, 50, 190);
        text-align: center;
        overflow-wrap: break-word;
        justify-content: center;
        display: flex;
        align-items: center;
        padding: 2em 5em 2em 5em;
    }
}